<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.lease.web.admin.mapper.ApartmentInfoMapper">

    <select id="pageItem" resultType="com.atguigu.lease.web.admin.vo.apartment.ApartmentItemVo">
        select id,
               name,
               introduction,
               district_id,
               district_name,
               city_id,
               city_name,
               province_id,
               province_name,
               address_detail,
               latitude,
               longitude,
               phone,
               is_release,
               IFNULL(tc.cnt, 0)         total_room_count,
               IFNULL(tc.cnt, 0) - IFNULL(cc.cnt, 0) free_room_count
        from (select id,
                     name,
                     introduction,
                     district_id,
                     district_name,
                     city_id,
                     city_name,
                     province_id,
                     province_name,
                     address_detail,
                     latitude,
                     longitude,
                     phone,
                     is_release
              from apartment_info
                <where>
                    is_deleted = 0
                    <if test="queryVo.provinceId != null">
                        and province_id = #{queryVo.provinceId}
                    </if>
                    <if test="queryVo.cityId != null">
                        and city_id = #{queryVo.cityId}
                    </if>
                    <if test="queryVo.districtId != null">
                        and district_id = #{queryVo.districtId}
                    </if>
                </where>) ai
                 left join (select apartment_id,
                                   COUNT(1) cnt
                            from room_info
                            where is_deleted = 0
                              and is_release = 1
                            group by apartment_id) tc
                           on ai.id = tc.apartment_id
                 left join (select apartment_id,
                                   COUNT(1) cnt
                            from lease_agreement
                            where status in (2, 5)
                              and is_deleted = 0
                            group by apartment_id) cc
                           on ai.id = cc.apartment_id

    </select>

</mapper>
