<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.lease.web.admin.mapper.LeaseAgreementMapper">
    <resultMap id="AgreementVo" type="com.atguigu.lease.web.admin.vo.agreement.AgreementVo" autoMapping="true">
        <id property="id" column="id"/>
        <association property="apartmentInfo" javaType="com.atguigu.lease.model.entity.ApartmentInfo" autoMapping="true">
            <id property="id" column="apartment_id"/>
            <result property="name" column="apartment_name"/>
        </association>
        <association property="roomInfo" javaType="com.atguigu.lease.model.entity.RoomInfo" autoMapping="true">
            <id property="id" column="room_id"/>
        </association>
        <association property="paymentType" javaType="com.atguigu.lease.model.entity.PaymentType" autoMapping="true">
            <id property="id" column="payment_type_id"/>
            <result property="name" column="payment_type_name"/>
            <result property="additionalInfo" column="payment_type_additional_info"/>
        </association>
        <association property="leaseTerm" javaType="com.atguigu.lease.model.entity.LeaseTerm" autoMapping="true">
            <id property="id" column="lease_term_id"/>
        </association>
    </resultMap>
    <select id="pageAgreementByQuery" resultMap="AgreementVo">
        select la.id,
               la.phone,
               la.name,
               la.identification_number,
               la.apartment_id,
               la.room_id,
               la.lease_start_date,
               la.lease_end_date,
               la.lease_term_id,
               la.rent,
               la.deposit,
               la.payment_type_id,
               la.status,
               la.source_type,
               la.additional_info,
               ai.id apartment_id,
               ai.name apartment_name,
               ai.introduction,
               ai.district_id,
               ai.district_name,
               ai.city_id,
               ai.city_name,
               ai.province_id,
               ai.province_name,
               ai.address_detail,
               ai.latitude,
               ai.longitude,
               ai.phone,
               ai.is_release,
               ri.id room_info_id,
               ri.room_number,
               ri.rent,
               ri.apartment_id,
               ri.is_release,
               pt.id payment_type_id,
               pt.name payment_type_name,
               pt.pay_month_count,
               pt.additional_info payment_type_additional_info,
               lt.id lease_term_id,
               lt.month_count,
               lt.unit
        from lease_agreement la
                 left join apartment_info ai
                      on ai.is_deleted = 0
                          and la.apartment_id = ai.id
                 left join room_info ri
                      on ri.is_deleted = 0
                          and la.room_id = ri.id
                 left join payment_type pt
                      on pt.is_deleted = 0
                          and la.payment_type_id = pt.id
                 left join lease_term lt
                      on la.lease_term_id = lt.id
                          and la.lease_term_id = lt.id
        <where>
            la.is_deleted = 0
            <if test="queryVo.provinceId != null">
                and ai.province_id = #{queryVo.provinceId}
            </if>
            <if test="queryVo.cityId != null">
                and ai.city_id = #{queryVo.cityId}
            </if>
            <if test="queryVo.districtId != null">
                and ai.district_id = #{queryVo.districtId}
            </if>
            <if test="queryVo.apartmentId != null">
                and la.apartment_id = #{queryVo.apartmentId}
            </if>
            <if test="queryVo.roomNumber != null and queryVo.roomNumber != ''">
                and ri.room_number like concat('%',#{queryVo.roomNumber},'%')
            </if>
            <if test="queryVo.name != null and queryVo.name != ''">
                and la.name like concat('%',#{queryVo.name},'%')
            </if>
            <if test="queryVo.phone != null and queryVo.phone != ''">
                and la.phone like concat('%',#{queryVo.phone},'%')
            </if>
        </where>
    </select>
    <select id="getAgreementVoById" resultMap="AgreementVo">
        select la.id,
        la.phone,
        la.name,
        la.identification_number,
        la.apartment_id,
        la.room_id,
        la.lease_start_date,
        la.lease_end_date,
        la.lease_term_id,
        la.rent,
        la.deposit,
        la.payment_type_id,
        la.status,
        la.source_type,
        la.additional_info,
        ai.id apartment_id,
        ai.name apartment_name,
        ai.introduction,
        ai.district_id,
        ai.district_name,
        ai.city_id,
        ai.city_name,
        ai.province_id,
        ai.province_name,
        ai.address_detail,
        ai.latitude,
        ai.longitude,
        ai.phone,
        ai.is_release,
        ri.id room_info_id,
        ri.room_number,
        ri.rent,
        ri.apartment_id,
        ri.is_release,
        pt.id payment_type_id,
        pt.name payment_type_name,
        pt.pay_month_count,
        pt.additional_info payment_type_additional_info,
        lt.id lease_term_id,
        lt.month_count,
        lt.unit
        from lease_agreement la
        left join apartment_info ai
        on ai.is_deleted = 0
        and la.apartment_id = ai.id
        left join room_info ri
        on ri.is_deleted = 0
        and la.room_id = ri.id
        left join payment_type pt
        on pt.is_deleted = 0
        and la.payment_type_id = pt.id
        left join lease_term lt
        on la.lease_term_id = lt.id
        and la.lease_term_id = lt.id
        where la.is_deleted = 0
        and la.id = #{id}
    </select>
</mapper>
